Package: ${PACKAGE}
Version: ${VERSION}
Section: base
Priority: optional
Architecture: all
Depends: bash, perl, tar, gzip, coreutils, sed, awk
Recommends: rsync, diffutils
Maintainer: bfg@frost.ath.cx
Homepage: https://github.com/bfg/linux-usb-diskless
Description: linux-usb-diskless: Helper scripts for Linux running in diskless mode.
